.inserted_button {
    padding: 2px 14px;
    font: inherit;
    background-color: #ebebeb;
    text-align: center;
    margin-right: 20px;
    border-radius: 2px;
    border: 1px solid darkgray;
    float: left;
}